
.dialogsItems {
    padding: 10px;
}

.dialogsItems .dialog {

}

.dialogsItems .active {
    color: gold;
}

.dialog {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
    margin-bottom: 10px;
}

.dialog a {
    text-decoration: none;
    color: aliceblue;
    position: relative;
}

.dialog a.activeLink::before {
    content: "";
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: 108%;
    background-color:aliceblue;
}

.avatar {
    border-radius: 50%;
    width: 36px;
    height: 36px;
}